{% load static %}
<!DOCTYPE html>

<html lang="en" class="{% if request.session.theme == 'dark' %}dark{% endif %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        My Website
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script>
      // Function to set the theme based on session or localStorage
      function setTheme() {
        const theme = localStorage.getItem('theme') || '{% if request.session.theme %}{{ request.session.theme }}{% else %}light{% endif %}'
        if (theme === 'dark') {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }
      
      // Set the theme on page load
      setTheme()
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
    {% block navbar %}

    {% endblock %}
    {% block content %}

    {% endblock %}

    {% include './components/footer.html' %}
    <!-- JavaScript for Dark Mode Toggle -->
    <script>
      const themeToggleBtn = document.getElementById('theme-toggle')
      if (themeToggleBtn) {
        // Proceed with the toggle event listener
        const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon')
        const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon')
        themeToggleBtn.addEventListener('click', () => {
          // Toggle icons
          themeToggleDarkIcon.classList.toggle('hidden')
          themeToggleLightIcon.classList.toggle('hidden')
      
          // Toggle theme
          const isDarkMode = document.documentElement.classList.toggle('dark')
          localStorage.setItem('theme', isDarkMode ? 'dark' : 'light')
      
          // Optionally send theme preference to the server
          fetch('/set-theme/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ theme: isDarkMode ? 'dark' : 'light' })
          })
        })
      }
    </script>
  </body>
</html>
